SINGLE_PLAYER_TESTING = false # Simulation of singleplayer
MULTI_LOCALPLAYER_INSTANCES = false # Allow multiple BasePlayer instances with the same localPlayer
SV_PASSWORD = password # Server authorization password
