# Remove ALL comments before saving as .env, rbxts-transform-env will oddly include them during compilation
SINGLE_PLAYER_TESTING=false     # Simulation of singleplayer
MULTI_BASEPLAYER_INSTANCES=true # Allow multiple BasePlayer instances with the same rbxPlayer
SV_PASSWORD=password            # Server authorization password
NODE_ENV=production             # production for release, development for development phase (enables debugging logs)
