{
	"printWidth": 120,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": ["**/*.yaml", "**/*.json"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
